\.idea
/assets/documents/*
/.env
/application/logs
/.env
/.env.demo-server
/.env.live-server

#docker
.docker/nginx/log/*
***/.docker/nginx/log/
application/logs/*
.docker/nginx/ssl/*
***/.docker/nginx/ssl/
.docker/nginx/php/*
***/.docker/nginx/php/