@font-face {
    font-family: 'MavenPro';
    src: url("../font/maven/MavenPro.ttf");
    src: url("../font/maven/MavenPro.ttf") format('ttf'),
    url("../font/maven/MavenPro.ttf") format('truetype');
}

@font-face {
    font-family: 'MavenPro-SemiBold';
    src: url("../font/maven/static/MavenPro-SemiBold.ttf");
    src: url("../font/maven/static/MavenPro-SemiBold.ttf") format('ttf'),
    url("../font/maven/static/MavenPro-SemiBold.ttf") format('truetype');
}